<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        Classes
        <h2>Add classes and view all available classes here</h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    Remember: space is not allowed

    <form action="/createClass" method="post">
      <div class="row text-center">
        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Subject</span>
            <input type="text" class="form-control" name="subject" placeholder="Example: COSI">
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Course number</span>
            <input type="text" class="form-control" name="courseNum" placeholder="Example: 12B">
          </div>
        </div>

        <div class="col-md-1">
          <input type="submit" class = "btn btn-outline-primary" value = "CREATE">
        </div>


      </div>
    </form>

  </div>
</section>

<section class="section">
  <div class="container">
    <form action="/<%=user._id%>/enroll" method="post">
      <div class="row text-center">
        <div class="col-md-6 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Course code</span>
            <input type="text" class="form-control" name="classCode" placeholder="Example: COSI12B">
          </div>
        </div>
        <div class="col-md-1 col-sm-12">
          <input type="submit" name="submit" class="btn btn-outline-primary" id="submit" value="ENROLL">
        </div>
      </div>
    </form>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        Find classes here
        <input class="form-control" id="searchForClass" type="text" placeholder="Search for existing classes">
      </div>
      <div class="w-100"></div>
      <div class="col-3">
        <br>
        <ul class="list-group" id="classList">
          <% for (i = 0; i < classes.length; i++){%>
            <li class="list-group-item">
              Class code: <%=classes[i].classCode%>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $("#searchForClass").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#classList li").filter(function() {
          $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</section>


<%- include('footer'); -%>
