<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section section--grey">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                Classes
            </div>
            <h3>Search, enroll and create classes here</h3>
        </div>
    </div>
</section>

<section class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3><b>Find a class</b></h3>
                <hr>
                <input class="form-control" id="classcode" type="text" placeholder="Search for existing classes">
                <br>
                <ul class="list-group" id="classList">
                    <% for (i = 0; i < classes.length; i++){ %>
                        <li class="list-group-item">
                            <form action="/<%= user._id %>/enroll" method="post">
                                <div class="col-md-12 col-sm-12">
                                    Class code: <%= classes[i].classCode %>
                                    <input hidden type="text" name="classCode" value="<%= classes[i].classCode %>">
                                    <input type="submit" style="float: right;" name="submit"
                                           class="btn btn-outline-primary" value="ENROLL">
                                </div>
                            </form>
                        </li>
                    <% } %>
                </ul>
                <br>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3><b>Drop a class</b></h3>
                <hr>
                <ul class="list-group">
                    <% for (i = 0; i < user.classCodes.length; i++) { %>
                        <li class="list-group-item">
                            <div class="col-md-12 col-sm-12">
                                Class code:
                                <%= user.classCodes[i] %>
                                <button type="button" style="float: right" class="btn btn-outline-primary"
                                        data-toggle="modal"
                                        data-target="#dropModal<%= i %>">
                                    DROP
                                </button>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="dropModal<%= i %>" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Drop a class</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/dropClass" method="post">
                                            <div class="container text-center">
                                                <div class="modal-body">

                                                    <div class="row text-center">
                                                        <div class="col-md-12 col-sm-12">
                                                            <h3>Are you sure you want to drop:</h3>

                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Course code</span>
                                                                <input type="text" class="form-control" name="classCode"
                                                                       value="<%= user.classCodes[i] %>">
                                                            </div>
                                                        </div>

                                                        <br><br>
                                                        Please notice that once you drop this course, you can no longer
                                                        be a tutor of
                                                        this
                                                        course
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="hidden" name="classCodesDelete"
                                                           value="<%= user.classCodes[i] %>">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <input type="submit" class="btn btn-outline-primary" value="DROP">
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <br>

            </div>
            <div class="col-md-4 col-sm-12">
                <h3><b>Create a new class</b></h3>
                <hr>
                <button type="button" style="float: right" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#myModal">
                    CREATE A NEW CLASS
                </button>
                <br>

            </div>

            <div class="col-md-4 col-sm-12">
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create a new class</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/createClass" method="post">
                                <div class="modal-body">

                                    <div class="row text-center">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Subject</span>
                                                <input type="text" class="form-control" name="subject"
                                                       placeholder="Example: COSI">
                                            </div>
                                        </div>

                                        <br><br>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Course number</span>
                                                <input type="text" class="form-control" name="courseNum"
                                                       placeholder="Example: 12B">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-outline-primary" value="CREATE">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>

    </div>
    <script>
        $(document).ready(function () {
            // $("#classList").invisible();
            $("#classcode").on("keyup", function () {
                var value = $(this).val().toUpperCase();
                // $("#classList").visible();
                $("#classList li").filter(function () {
                    $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</section>

<%- include('footer'); -%>
