<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1>Add a new Class</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <form action="/createClass" method="post">
      <div class="row text-center">

        <div class="col">
          <div class="input-group-prepend">
            <span class="input-group-text">Semester</span>
            <select class="form-control" name ="semester">
              <option disabled value="Choose a role">Choose semester</option>
              <option value="fall2019">Fall 2019</option>
              <option value="spring2020">Spring 2020</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="input-group-prepend">
            <span class="input-group-text">Class Code</span>
            <input type="text" class="form-control" name="classCode">
          </div>
        </div>

        <div class="col-2">
          <input type="submit" class = "btn btn--blue-bg" value = "CREATE">
        </div>

      </div>
    </form>

  </div>
</section>

<section class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <hr>
        <% for (i = 0; i < classes.length; i++){%>
          Class code: <%=classes[i].classCode%>
          <br><br>
          The pin: <%=classes[i].pin%>
          <hr>
        <% } %>
      </div>
    </div>
  </div>
</section>
<!-- edit profile page -->


<%- include('footer'); -%>
