<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section section--grey">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        Message Board
      </div>
      <h2 id="whiteFont">See all your messages here</h2>
    </div>
  </div>
</section>

<section class="section section--grey">
  <div class="container">
    <div class="row">

      <% loop1: for (i = 0; i < communicationBoard.length; i++){  %>
        <% for (j = 0; j < i; j++) { %>
          <% if (communicationBoard[i].tuteeId.equals(communicationBoard[j].tuteeId) && communicationBoard[i].tutorId.equals(communicationBoard[j].tutorId)) { continue loop1; } %>
        <% } %>
        <% if (!communicationBoard[i].tuteeId.equals(communicationBoard[i].tutorId)) { %>
          <% if (user._id.equals(communicationBoard[i].tutorId)) {%>
            <div class="col-sm-12 col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5>Tutee Name: <%=communicationBoard[i].userName%></h5><br>
                    <a href="/communication/<%=communicationBoard[i].tuteeId%>/<%=communicationBoard[i].tutorId%>"><input class="btn btn-sm btn-outline-primary" type="submit" value="CONTINUE"></a>
                </div>
              </div>
            </div>

          <% } else { %>
            <div class="col-sm-12 col-md-4">

              <div class="card">
                <div class="card-body">
                  <h5>Tutor Name: <%=communicationBoard[i].tutorName%></h5><br>
                    <a href="/communication/<%=communicationBoard[i].tuteeId%>/<%=communicationBoard[i].tutorId%>"><input class="btn btn-sm btn-outline-primary" type="submit" value="CONTINUE"></a>
                </div>
              </div>
            </div>

          <% } %>

        <% } %>
        <br><br><br>

      <% } %>
    </div>

  </div>
</section>

<%- include('footer'); -%>
