<%- include('header') -%>
<%- include('navbar') -%>

<section class="section section--grey">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        Welcome, <%=user.userName%>! <br> Negotiate with your tutor/tutee here
      </div>
    </div>
  </div>
</section>

<% if (!user._id.equals(req.params.tutorId)) { %>

<section class="section section--grey">
  <form class="" action="/updateAppointment/<%=req.params.userId%>/<%=req.params.tutorId%>" method="post">

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Date</span>
            <input type="date" class="form-control" name="appointmentDate">
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Time</span>
            <input type="time" class="form-control" name="appointmentTime">
          </div>
        </div>
        <div class="w-100">

        </div>
        <br>

        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Length in hours</span>
            <input type="text" class="form-control" name="length">
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">price $</span>
            <input type="text" class="form-control" name="price">
          </div>
        </div>

        <div class="w-100">

        </div>
        <br>

        <div class="col-md-3 col-sm-12">
          <div class="input-group-prepend">
            <span class="input-group-text">Class code</span>
            <select class="form-control" name ="classCode">
              <option disabled value="Choose a category">Choose a class</option>
              <% for (i = 0; i < tutor.tutorClassCodes.length; i++) { %>
                <option value="<%=tutor.tutorClassCodes[i]%>"><%=tutor.tutorClassCodes[i]%></option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="w-100">

        </div>
        <br>

        <div class="col-md-1 col-sm-12">
          <input type="hidden" name="tuteeName" value="<%=userName%>">

          <input type="hidden" name="tutorName" value="<%=tutorName%>">

          <input class="btn btn-outline-primary" type="submit" value="SUBMIT">
        </div>

      </div>
    </div>
  </form>

</section>
<% } %>

<%- include('footer') -%>
