<%- include('header'); -%>
<%- include('navbar'); -%>


<div class="jumbotron masthead parallax">
  <h1 id="welcome"><i><%= user.userName %></i>, <b>welcome to Claster</b></h1>
  <br>
</div>

<!-- edit profile page -->
<div class="container">
  <!-- form: update personal info -->

  <form action="/updateProfile" method="post">
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
          <input type="text" class="form-control" name="userName" value="<%=user.userName%>">
        </div>
      </div>

      <!-- line break -->
      <div class="w-100"></div>
      <br>

      <!-- zipcode -->
      <div class="col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Zipcode</span>
          <input type="text" class="form-control" name="zipcode" value="<%=user.zipcode%>">
        </div>
      </div>

      <!-- line break -->
      <div class="w-100"></div>
      <br>

      <div class="col-sm-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Status</span>
          <select class="form-control" name ="status">
              <option disabled value="Choose a role">Role</option>
              <option value="tutor">Tutor</option>
              <option value="student">Student</option>
            </select>
        </div>
      </div>

      <!-- line break -->
      <div class="w-100"></div>
      <br>

      <!-- profile image -->
      <div class="col-sm-6">
        <div class="input-group-prepend">
          <span class="input-group-text">Profile image path</span>
          <input type="text" class="form-control" name="profilePicURL" value="<%=user.profilePicURL%>">
        </div>
      </div>

      <div class="col-sm-1">
        <input type="submit" class = "btn btn-primary" value = "Save">
      </div>

    </div>
  </form>

  <br>

  <!-- form: upload image -->
  <form class='md-form' action='/upload' method='post' encType="multipart/form-data">
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Image upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="sampleFile">
            <label class="custom-file-label">Choose file</label>
          </div>
        </div>
      </div>

      <div class="col-sm-1">
        <input type='submit' class="btn btn-warning" value='Upload'>
      </div>

      <div class="w-100"></div>
      <br>

      <div class="col-sm-6">
        <img src="<%=user.profilePicURL%>" width="100%" alt="my profile image">
      </div>
    </div>
  </form>


</div>

<%- include('footer'); -%>
