<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <!-- <div class="jumbotron masthead diagonal-gradient text-center parallax"> -->
        <!-- <div class="card mx-auto" id="cardStyle">
        <div class="card-body"> -->

        <h1><%=user.userName%>'s profile</h1>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div>
</div> -->
</section>

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="input-group-prepend">
          <span class="input-group-text">Current profile image</span>
        </div>
        <br>
        <img src="<%=user.profilePicURL%>" style="width:300px;">
        <hr>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Upload File</span>
            <input type="file" class="form-control" id="file-input">
          </div>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text">Preview</span>
        </div>
        <br>
        <img style="border:1px solid gray;width:300px;" id="preview">
        <br><br>
        <form method="POST" action="/save-details">
          <input type="hidden" id="imageURL" name="imageURL">
          <input type="submit" class="btn btn-primary"value="Upload">
        </form>

      </div>

    </div>
    <br>


    <!-- form: update personal info -->

    <form action="/updateProfile/<%=user._id%>" method="post">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Username</span>
            <input type="text" class="form-control" name="userName" value="<%=user.userName%>">
          </div>
        </div>

        <!-- line break -->
        <div class="w-100"></div>
        <br>

        <!-- zipcode -->
        <div class="col-sm-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Zipcode</span>
            <input type="text" class="form-control" name="zipcode" value="<%=user.zipcode%>">
          </div>
        </div>

        <!-- line break -->
        <div class="w-100"></div>
        <br>

        <div class="col-sm-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Status</span>
            <select class="form-control" name ="status" value="<%=user.status%>">
              <option disabled value="Choose a role">Role</option>
              <option value="tutor">Tutor</option>
              <option value="student">Student</option>
            </select>
          </div>
        </div>

        <div class="col-sm-3"></div>

        <div class="w-100"></div>
        <br>
        <div class="col-sm-1">
          <input type="submit" class = "btn btn--blue-bg" value = "Save">
        </div>
        <br>
      </div>
    </form>

  </div>
</section>
<!-- edit profile page -->

<script>

  /*
  Function to carry out the actual PUT request to S3 using the signed request from the app.
  */
  function uploadFile(file, signedRequest, url){
    const xhr = new XMLHttpRequest();
    xhr.open('PUT', signedRequest);
    xhr.onreadystatechange = () => {
      if(xhr.readyState === 4){
        if(xhr.status === 200){
          document.getElementById('preview').src = url;
          document.getElementById('imageURL').value = url;
        }
        else{
          alert('Could not upload file.');
        }
      }
    };
    xhr.send(file);
  }

  /*
  Function to get the temporary signed request from the app.
  If request successful, continue to upload the file using this signed
  request.
  */
  function getSignedRequest(file){
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
    xhr.onreadystatechange = () => {
      if(xhr.readyState === 4){
        if(xhr.status === 200){
          const response = JSON.parse(xhr.responseText);
          uploadFile(file, response.signedRequest, response.url);
        }
        else{
          alert('Could not get signed URL.');
        }
      }
    };
    xhr.send();
  }

  /*
  Function called when file input updated. If there is a file selected, then
  start upload procedure by asking for a signed request from the app.
  */
  function initUpload(){
    const files = document.getElementById('file-input').files;
    const file = files[0];
    if(file == null){
      return alert('No file selected.');
    }
    getSignedRequest(file);
  }

  /*
  Bind listeners when the page loads.
  */
  (() => {
    document.getElementById('file-input').onchange = initUpload;
  })();

</script>



<%- include('footer'); -%>
