<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1><%=user.userName%>'s profile</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <!-- form: update personal info -->

    <form action="/updateTutorProfile/<%=user._id%>" method="post">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Introduction</span>
            <input type="text" class="form-control" name="introduction" value="<%=tutor.introduction%>">
          </div>
        </div>

        <!-- line break -->
        <div class="w-100"></div>
        <br>

        <div class="col-sm-3"></div>

        <div class="col-sm-1">
          <input type="submit" class = "btn btn-outline-primary" value = "Save">
        </div>

        <div class="w-100"></div>
        <br>
      </div>
    </form>

  </div>
</section>
<!-- edit profile page -->


<%- include('footer'); -%>
