<%- include('header') -%>
<%- include('navbar') -%>

<section class="section section--grey">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                    For which class?
            </div>
            <h3><b>NOTICE</b>: You have to <a href = "/classes"><b>ENROLL</b></a> in a class to post questions</h3>
        </div>
    </div>
</section>

<section class="section section--grey">
    <div class="section__content section__content--fluid-width section__content--padding">
        <div class="partners">
            <div class="partners__content swiper-wrapper">
                <div class="partners__slide swiper-slide">
                    <% if (loggedIn) { %>
                        <% for (i = 0; i < user.classCodes.length; i++){ %>
                            <div class="partners__text">
                                <br>
                                <a href="/postQuestion/<%= user.classCodes[i] %>"><input
                                            class="btn btn-outline-dark"
                                            type="button"
                                            value="Ask questions in: <%= user.classCodes[i] %>"></a>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="partners__text">
                            Please login to view the forum
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="partners__pagination swiper-pagination"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<%- include('footer') -%>
