<%- include('header'); -%>
<%- include('navbar'); -%>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <% if (loggedIn) {%>
      <h4>This is <%=req.user.googlename%>, googleId: <%=req.user._id%></h4>
      <h4>You are logged in!</h4>
      <% } else {%>
      <h4>Call me Mountain Man</h4>
      <h4>PLEASE LOG IN!</h4>
      <% } %>
    </div>
  </div>
<%- include('footer'); -%>
