<%- include('header'); -%>

<script src="/js/menu.js"></script>

<header class="header">
    <div class="header__content header__content--fluid-width">
        <a class="header__logo-title" href="#home">Claster</a>
        <nav class="header__menu">
            <ul>
                <li>
                    <a class="header-link" id="header-link" href="/">HOME</a>
                </li>

                <li>
                    <a class="header-link" href="/forumFunction" id="header-link">Q&A Forum</a>
                    <% if (loggedIn) { %>
                        <ul class="sub-menu">
                            <% for (i = 0; i < user.classCodes.length; i++) { %>
                                <li><a class="header-link"
                                       href="/showQuestions/<%= user.classCodes[i] %>"><%= user.classCodes[i] %></a>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                </li>

                <li>
                    <a class="header-link" href="/tutorFunction" id="header-link">Find/become a tutor</a>
                    <% if (loggedIn) { %>
                        <ul class="sub-menu">
                            <li><a class="header-link" href="/showTutors">Find a tutor</a></li>
                            <li><a class="header-link" href="/tutorRegister">Become a tutor</a></li>
                        </ul>
                    <% } %>
                </li>

                <li>
                    <a class="header-link" id="header-link" href="/userFunction">Notifications & Settings</a>
                    <ul class="sub-menu">
                        <li>
                            <% if (loggedIn) { %>
                                <a href="/taskBoard" class="header-link">Appointments</a>
                            <% } %>
                        </li>

                        <li>
                            <% if (loggedIn) { %>
                                <a class="header-link" href="/communicationBoard">Messages</a>
                            <% } %>
                        </li>
                        <li>
                            <% if (loggedIn) { %>
                                <a class="header-link" href="/myProfile/<%= user._id %>">View/edit profile</a>
                            <% } %>
                        </li>

                        <li>
                            <% if (loggedIn && user.status === "admin") { %>
                                <a class="header-link" href="/showProfiles">All PROFILES</a>
                            <% } %>
                        </li>
                    </ul>
                </li>

                <li class="header__btn header__btn--login">
                    <% if (!loggedIn) { %>
                        <a class="btn btn-outline-dark" href="/auth/google">Login with Google</a>
                    <% } else { %>
                        <a class="btn btn-outline-dark" href="/logout">Logout</a>
                    <% } %>
                </li>

            </ul>
        </nav>
    </div>
</header>

<!-- Section intro -->
<section class="section section--intro section--grey" id="home">
    <div class="section__content section__content--full-width">
        <div class="intro">
            <div class="intro__content">
                <% if (loggedIn) { %>
                    <div class="intro__subtitle" style="color: black;">Hi, <b><%= user.userName %>!</b></div>
                <% } %>
                <div class="intro__subtitle" style="color: black;">Welcome to Claster!</div>
                <% if (loggedIn) { %>
                    <div class="form-demo">
                        <a href="/forumFunction"><input type="submit" name="submit" class="form-demo__submit2"
                                                        value="ASK QUESTIONS"></a>
                    </div>
                    <br>
                    <div class="form-demo">
                        <a href="/showTutors"><input type="submit" name="submit" class="form-demo__submit2"
                                                     value="FIND A PEER TUTOR"></a>
                    </div>
                    <br>
                    <div class="form-demo">
                        <a href="/tutorRegister"><input type="submit" name="submit" class="form-demo__submit2"
                                                        value="BECOME A PEER TUTOR"></a>
                    </div>
                <% } else { %>
                    <h3><b>PLEASE LOG IN TO ENABLE ALL FEATURES.</b></h3>
                    <a href="/auth/google"><input type="submit" name="submit" class="form-demo__submit1"
                                                  value="LOGIN IN"></a>
                <% } %>
            </div>

        </div>

    </div>
</section>

<%- include('footer'); -%>
