<%- include('header') -%>
<%- include('navbar') -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        <h1>All users are here</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <ul class="list-group">
      <% for(i = 0; i < profiles.length; i++){  %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm">
              User: <a href="/showProfile/<%= profiles[i]._id %>"><%= profiles[i].userName %></a>
            </div>
            <div class="col-sm">
              User Email: <%= profiles[i].googleemail %>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
    </div>

</section>

  <%- include('footer') -%>
