<%- include('header'); -%>
<%- include('navbar'); -%>
<section class="section section--grey">
    <div class="section__content section__content--fixed-width">
        <div class="jumbotron masthead diagonal-gradient text-center parallax">
            <div class="section__title section__title--centered" id="whiteFont">
                <%= profile.userName %>'s profile
            </div>
        </div>
    </div>
</section>

<section class="section section--grey">
    <div class="container">

        <div class="row justify-content-md-center">
            <div class="col-md-4 col-sm-12">
                <h3><b>User Profile:</b></h3>
                <hr>
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                    <input disabled type="text" class="form-control" value="<%= profile.userName %>">
                </div>
                <br>
                <div class="input-group-prepend">
                    <span class="input-group-text">Status</span>
                    <input disabled type="text" class="form-control" value="<%= profile.status %>">
                </div>
                <br>

                <br>
                <img src="<%= profile.profilePicURL %>" width="100%" alt="profile picture">

                <br>

                <h5> <b><%= profile.userName %>'s Classes:</b></h5>
                <hr>
                <% if (loggedIn) { %>
                    <ul class="list-group">
                        <% for (i = 0; i < user.classCodes.length; i++){ %>
                            <li class="list-group-item"><%= user.classCodes[i] %></li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <div class="partners__text">
                        Please login to view this page
                    </div>
                <% } %>
                <br>
            </div>
            <div class="col-md-1"></div>

            <% if (profile.status == ("tutor")) { %>
                <div class="col-md-4 col-sm-12">
                    <h3><b>Tutor Profile:</b></h3>
                    <hr>

                    <div class="input-group-prepend">
                        <span class="input-group-text">Introduction</span>
                        <input disabled type="text" class="form-control" value="<%= profile.introduction %>">
                    </div>

                    <br>

                    <div class="input-group-prepend">
                        <span class="input-group-text">Rating</span>
                        <input disabled type="text" class="form-control" value="<%= profile.score.toFixed(2) %>">
                    </div>

                    <br>

                    <h5> <b><%= profile.userName %> is tutoring:</b></h5>
                    <hr>
                    <% if (profile.tutorClassCodes.length === 0) { %>
                        No class found
                    <% } %>
                    <ul class="list-group">

                        <% for (i = 0; i < profile.tutorClassCodes.length; i++){ %>
                            <li class="list-group-item"><%= profile.tutorClassCodes[i] %></li>
                        <% } %>
                    </ul>

                    <br>

                    <h5> <b>Comments for <%= profile.userName %>:</b></h5>
                    <hr>
                    <% if (profile.comments.length === 0) { %>
                        No comments found
                    <% } %>
                    <ul class="list-group">
                        <% for (i = 0; i < profile.comments.length; i++){ %>
                            <li class="list-group-item"><%= profile.comments[i] %></li>
                        <% } %>
                    </ul>

                </div>
            <% } %>


        </div>
    </div>
</section>

<%- include('footer'); -%>
