<%- include('header') -%>
<%- include('navbar') -%>
<div class="jumbotron masthead" id="north">
  <h1 id="welcome">Questions</h1>
  <br>
  <a id="loginBtn" href="/postQuestion" class="btn btn-primary active" role="button" aria-pressed="true">Post A New Question</a>
</div>
<div class="container">
  <% for (i = 0; i<questions.length; i++){  %>
    <a href="/showQuestion/<%=questions[i]._id%>"><%= questions[i].question %></a>
    <p class="text-md">By <%=questions[i].userName%></p>
    <p class="text-sm"><%=questions[i].createdAt%></p>
  <% } %>
</div>

<%- include('footer') -%>
