<%- include('header') -%>
<%- include('navbar') -%>

    <div class="jumbotron masthead" id="north">
      <h1 id="welcome"><b>Question: </b><%= question.question %> </h1>
      <!-- Author -->
      <h4 id="welcome">
        &nbsp&nbsp by
        <a href="/showProfile/<%=user._id%>"><%=question.userName%></a>
        posted on <%= question.createdAt %>
      </h4>
    </div>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col">
          <h5><b>Description: </b></h5>
          <hr>
          <!-- Post Content -->
          <p class="lead" id ="description"><%= question.description%></p>
          <hr>

          <h5><b>Comments: </b></h5>
          <hr>

          <% for(i = 0; i<answers.length; i++){  %>
          <!-- Single Comment -->
            <div class="media mb-4" id ="description">
              <a href="/showProfile/<%=answers[i].userId%>"><img class="d-flex mr-3 rounded-circle" src="<%=answers[i].profilePicURL%>" width="40px" height="40px" alt="user profile pic"></a>
              <div class="media-body">
                <h5 class="mt-0"><%= answers[i].userName %></h5>
                <h6 ><%= answers[i].answer %></h6>
              </div>
            </div>
          <% } %>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/showQuestion/<%=req.params.id%>/processAnswerPost" method="post">
                <div class="form-group">
                  <textarea class="form-control" name="answer" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

<%- include('footer') -%>
