<%- include('header') -%>
<%- include('navbar') -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        All Tutors Are Here
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>iClaster Tutor Search</h2>
    <p>Find your dream tutor below</p>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <input class="form-control" id="myInput" type="text" placeholder="Feel Free to Search Majors, Tags, Anything!">
        <hr>
      </div>
      <div class="col-md-1 col-sm-12">
        <input class="btn btn-outline-primary" type="button" id="search" name="button" value="SEARCH">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="list-group" id="myList">
        <% for(i = 0; i < tutors.length; i++){ %>
          <% if (tutors[i].status=="tutor") {%>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="<%=tutors[i].profilePicURL%>" width = "100%" alt="profile picture">
              </div>
              <div class="col-md-3 col-sm-3 text-center">
                <a href="/showProfile/<%= tutors[i]._id %>"><%= tutors[i].userName %></a>
                    <div class="rating text-center">
<<<<<<< HEAD
                          <%if(tutors[i].score>=0&&tutors[i].score<=1){%>
=======
                          <%if(tutors[i].score==0){%>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          <%}%>
                          <%if(tutors[i].score>0&&tutors[i].score<=1){%>
>>>>>>> version1.4
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          <%}%>
                          <%if(tutors[i].score>1&&tutors[i].score<=2){%>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          <%}%>
                          <%if(tutors[i].score>2&&tutors[i].score<=3){%>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          <%}%>
                          <%if(tutors[i].score>3&&tutors[i].score<=4){%>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star "></span>
                          <%}%>
                          <%if(tutors[i].score>4&&tutors[i].score<=5){%>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                            <span class="fa fa-star checkedStar"></span>
                          <%}%>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                      <symbol id="star" viewBox="0 0 26 28">
                        <path d="M26 10.109c0 .281-.203.547-.406.75l-5.672 5.531 1.344 7.812c.016.109.016.203.016.313 0 .406-.187.781-.641.781a1.27 1.27 0 0 1-.625-.187L13 21.422l-7.016 3.687c-.203.109-.406.187-.625.187-.453 0-.656-.375-.656-.781 0-.109.016-.203.031-.313l1.344-7.812L.39 10.859c-.187-.203-.391-.469-.391-.75 0-.469.484-.656.875-.719l7.844-1.141 3.516-7.109c.141-.297.406-.641.766-.641s.625.344.766.641l3.516 7.109 7.844 1.141c.375.063.875.25.875.719z"/>
                      </symbol>
                    </svg>

                introduction: <%= tutors[i].introduction %>
              </div>
              <div class="col-md-1 col-sm-1 align-self-center">
                Tutor classes:
              </div>
              <% for (j = 0; j < tutors[i].tutorClassCodes.length; j++) { %>
                <div class="col-md-1 col-sm-1 align-self-center" style="border-right: 1px solid grey;">
                  <%=tutors[i].tutorClassCodes[j]%>
                </div>
              <% } %>
              <div class="col-md-4 col-sm-4">
                <% if(tutors[i].patient > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Patient <span class="badge badge-light"><%=tutors[i].patient%></span></button>
                  <% } %>
                <% if(tutors[i].excellentG > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Excellent Grade <span class="badge badge-light"><%=tutors[i].excellentG%></span></button>
                <% } %>
                <% if(tutors[i].askGood > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Ask Good Questions <span class="badge badge-light"><%=tutors[i].askGood%></span></button>
                <% } %>
                <% if(tutors[i].encouraging > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Encouraging <span class="badge badge-light"><%=tutors[i].encouraging%></span></button>
                <% } %>
                <% if(tutors[i].helpful > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Helpful <span class="badge badge-light"><%=tutors[i].helpful%></span></button>
                <% } %>
                <% if(tutors[i].abilityT > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Great Teaching <span class="badge badge-light"><%=tutors[i].abilityT%></span></button>
                <% } %>
                <% if(!tutors[i].gEnergy > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Energetic <span class="badge badge-light"><%=tutors[i].gEnergy%></span></button>
                <% } %>
                <% if(tutors[i].humility > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Humility <span class="badge badge-light"><%=tutors[i].humility%></span></button>
                <% } %>
                <% if(tutors[i].passionate > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Passionate <span class="badge badge-light"><%=tutors[i].passionate%></span></button>
                <% } %>
                <% if(tutors[i].onTime > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> On Time <span class="badge badge-light"><%=tutors[i].onTime%></span></button>
                <% } %>
                <% if(tutors[i].gPaced > 1){  %>
                  <button type="button" class="btn btn-primary btn-sm"> Good Paced <span class="badge badge-light"><%=tutors[i].gPaced%></span></button>
                <% } %>
                <% if(tutors[i].impatient > 1){  %>
                  <button type="button" class="btn btn-dark btn-sm"> Impatient <span class="badge badge-dark"><%=tutors[i].impatient%></span></button>
                <% } %>
                <% if(tutors[i].notgTeaching > 1){  %>
                  <button type="button" class="btn btn-dark btn-sm"> Bad Teaching <span class="badge badge-dark"><%=tutors[i].notgTeaching%></span></button>
                <% } %>
                <% if(tutors[i].late > 1){  %>
                  <button type="button" class="btn btn-dark btn-sm"> Late <span class="badge badge-dark"><%=tutors[i].late%></span></button>
                <% } %>
                <% if(tutors[i].notPrepared > 1){  %>
                  <button type="button" class="btn btn-dark btn-sm"> Not Prepared <span class="badge badge-danger"><%=tutors[i].notPrepared%></span></button>
                <% } %>
                <% if(tutors[i].notHelpful > 1){  %>
                  <button type="button" class="btn btn-dark btn-sm"> Not Helpful <span class="badge badge-dark"><%=tutors[i].notHelpful%></span></button>
                <% } %>
              </div>
              <div class="w-100"></div>
              <br>
              <div class="col-md-1 col-sm-1 align-self-center">
                <% if (!user._id.equals(tutors[i]._id)) {%>
                  <a href="/communication/<%=user._id%>/<%=tutors[i]._id%>"><input class="btn btn-sm btn-outline-primary" type="button" value="CONTACT"></a>
                <% } %>
              </div>
            </div>
          </li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    $("#search").on("click", function() {
      var value = $("#myInput").val().toLowerCase();
      $("#myList li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<%- include('footer') -%>
