<%- include('header') -%>
<%- include('navbar') -%>
    <div class="jumbotron">
        <h1>Questions</h1>
        <a href="/postQuestion" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Post A New Question</a>
    </div>
    <ol>
    <% for(i = 0; i<questions.length; i++){  %>
            <li> <a href="/showQuestion/<%= questions[i]._id %>">
                  <%= questions[i].question %></a>
                  <i>
                  <p class="text-sm-left"><%= questions[i].userName %></p>
                 <i>
                 <p class="text-sm-left"><%= questions[i].createdAt %></p>
                 </\/i> </li>
    <% } %>
    </ol>
<%- include('footer') -%>
