<%- include('header') -%>
<%- include('navbar') -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered" id="whiteFont">
        All Tutors Are Here
      </div>
    </div>
  </div>
</section>

<section class="section">

  <div class="row">
    <div class="col-md-3 col-sm-3">
      <br>
      <div class="section__content section__content--fluid-width">
        <div class="card mx-auto text-center" >
          <div class="card-body">
            <head>Specification</head>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-9">
      <div class="container">
        <h2>Claster Tutor Search</h2>
        <p>Find your dream tutor below</p>
        <input class="form-control" id="myInput" type="text" placeholder="Feel Free to Search Majors, Tags, Anything!">
        <hr>
        <ul class="list-group" id="myList">
          <% for(i = 0; i < tutors.length; i++){  %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <img src="<%=tutors[i].profilePicURL%>" width = "100%" alt="profile picture">
                </div>
                <div class="col-md-3 col-sm-3">
                  <a href="/showTutorProfile/<%= tutors[i]._id %>"><%= tutors[i].userName %></a>
                  <br>
                  introduction: <%= tutors[i].introduction %>
                </div>
                <div class="col-md-7 col-sm-7">
                  <% if(tutors[i].patient > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Patient <span class="badge badge-light"><%=tutors[i].patient%></span></button>
                  <% } %>
                  <% if(tutors[i].excellentG > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Excellent Grade <span class="badge badge-light"><%=tutors[i].excellentG%></span></button>
                    <% } %>
                  <% if(tutors[i].askGood > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Ask Good Questions <span class="badge badge-light"><%=tutors[i].askGood%></span></button>
                  <% } %>
                  <% if(tutors[i].encouraging > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Encouraging <span class="badge badge-light"><%=tutors[i].encouraging%></span></button>
                  <% } %>
                  <% if(tutors[i].helpful > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Helpful <span class="badge badge-light"><%=tutors[i].helpful%></span></button>
                  <% } %>
                  <% if(tutors[i].abilityT > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Great Teaching <span class="badge badge-light"><%=tutors[i].abilityT%></span></button>
                  <% } %>
                  <% if(!tutors[i].gEnergy > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Energetic <span class="badge badge-light"><%=tutors[i].gEnergy%></span></button>
                  <% } %>
                  <% if(tutors[i].humility > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Humility <span class="badge badge-light"><%=tutors[i].humility%></span></button>
                  <% } %>
                  <% if(tutors[i].passionate > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Passionate <span class="badge badge-light"><%=tutors[i].passionate%></span></button>
                  <% } %>
                  <% if(tutors[i].onTime > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> On Time <span class="badge badge-light"><%=tutors[i].onTime%></span></button>
                  <% } %>
                  <% if(tutors[i].gPaced > 1){  %>
                    <button type="button" class="btn btn-primary btn-sm"> Good Paced <span class="badge badge-light"><%=tutors[i].gPaced%></span></button>
                  <% } %>
                  <% if(tutors[i].impatient > 1){  %>
                    <button type="button" class="btn btn-dark btn-sm"> Impatient <span class="badge badge-dark"><%=tutors[i].impatient%></span></button>
                  <% } %>
                  <% if(tutors[i].notgTeaching > 1){  %>
                    <button type="button" class="btn btn-dark btn-sm"> Bad Teaching <span class="badge badge-dark"><%=tutors[i].notgTeaching%></span></button>
                  <% } %>
                  <% if(tutors[i].late > 1){  %>
                    <button type="button" class="btn btn-dark btn-sm"> Late <span class="badge badge-dark"><%=tutors[i].late%></span></button>
                  <% } %>
                  <% if(tutors[i].notPrepared > 1){  %>
                    <button type="button" class="btn btn-dark btn-sm"> Not Prepared <span class="badge badge-danger"><%=tutors[i].notPrepared%></span></button>
                  <% } %>
                    <% if(tutors[i].notHelpful > 1){  %>
                    <button type="button" class="btn btn-dark btn-sm"> Not Helpful <span class="badge badge-dark"><%=tutors[i].notHelpful%></span></button>
                  <% } %>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
      <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
      </script>
    </div>
  </div>
</section>

<%- include('footer') -%>
