<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section">
  <div class="section__content section__content--fixed-width" id="whiteFont">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title section__title--centered">
        Tutor registration
      </div>
      <h3>Please choose the class you want to tutor and then submit.</h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <br>
    <h4>Enter your class that you did not enroll the forum:</h4>
    <br>

    <div class="row text-center">
      <div class="col-md-4">
        <% if (loggedIn) {%>
          <form action="/<%=user._id%>/enroll" method="post">
            <div class="input-group-prepend">
              <span class="input-group-text">Course code</span>
              <input type="text" class="form-control" name="classCode" placeholder="Example: COSI12B" />
              &nbsp&nbsp&nbsp
              <input type="submit" name="submit" class="btn btn-outline-primary" id="submit" value="ENROLL" />
            </div>
          </form>
        <% } else { %>
          <input disabled type="text" class="form-demo__input" name="classCode" placeholder="Please login to enroll" />
        <% } %>
      </div>
    </div>

    <br>
    (This will automatically enroll you to the forum of this class)
    <br>
    <h4>Choose the class from your enrolled forum:</h4>
    <br>
    <form method="post" action="/processTutorRegister">

      <div class="row text-center">
        <div class="col-md-12">
            <% if (loggedIn) {%>
              <ul class="list-group">
                <% for (i = 0; i < user.classCodes.length; i++){ %>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" name="chosen" value="<%=user.classCodes[i]%>">
                      </div>
                    </div>
                      <li class="list-group-item"><%=user.classCodes[i]%></li>
                  </div>
                <% } %>
              </ul>
              <% } else { %>
                <div class="partners__text">
                  Please login to view this page
                </div>
              <% } %>
        </div>
      </div>

      <br>
      <h4> Introduction of yourself:</h4>
      <br>

      <div class="row text-center">
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form-control" name = "selfIntro" rows="6" cols = "100"></textarea>
          </div>
          <br>
        </div>
        <div class="col-md-12">
          <input class="btn btn-outline-primary" type="submit" />
        </div>
      </div>
    </form>
  </div>
</section>


<%- include('footer'); -%>
