<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
  <div class="section__content section__content--fixed-width">
    <div class="jumbotron masthead diagonal-gradient text-center">
      <div class="section__title" id="whiteFont">
          <h1>Please Rate Your Tutor: <br><br></h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__content section__content--fixed-width text-center">

      <label for="something">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input id="something" input type="text" class="form-control "style="width:500px;" placeholder="Search Your Tutor"list="somethingelse">
            </div>
      </div>
      <datalist id="somethingelse">
          <% for(i = 0; i < tutors.length; i++){  %>
            <option value=<%=tutors[i].id%>><%=tutors[i].userName%></option>
          <% } %>
      </datalist>
      </label>
  </div>
</section>


<%- include('footer'); -%>
