<%- include('header'); -%>
<%- include('navbar'); -%>


<section class="section section--grey">
    <div class="section__content section__content--fixed-width" id="whiteFont">
        <div class="jumbotron masthead diagonal-gradient text-center">
            <div class="section__title section__title--centered">
                Tutor registration
            </div>
            <h3>Please choose the class you want to tutor and then submit.</h3>
        </div>
    </div>
</section>

<section class="section section--grey">
    <div class="container">
        <br>
        <h4> <b>Choose the class you want to tutor:</b></h4>
        <br>
        <form method="post" action="/processTutorRegister">

            <div class="row text-center">
                <div class="col-md-12">
                    <% if (loggedIn) { %>
                        <ul class="list-group">
                            <% for (i = 0; i < user.classCodes.length; i++){ %>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input"
                                               name="chosen" value="<%= user.classCodes[i] %>">
                                    </div>
                                </div>
                                <li class="list-group-item"><%= user.classCodes[i] %></li>
                            </div>
                            <% } %>
                        </ul>
                    <% } else { %>
                        <div class="partners__text">
                            Please login to view this page
                        </div>
                    <% } %>
                </div>
            </div>

            <br>
            <h4> <b>Introduction of yourself:</b></h4>
            <br>

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" style="resize: none;" name="selfIntro" rows="6" cols="100"><%=user.introduction%></textarea>
                    </div>
                    <br>
                </div>
                <div class="col-md-12">
                    <input class="btn btn-outline-primary" type="submit"/>
                </div>
            </div>
        </form>
    </div>
</section>

<%- include('footer'); -%>